
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    font-size: 62.5%;
}




body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto' , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

select{
  width: 100%;
  padding: 1.2rem 1.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}





